<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078483904653-2114cg207hpv449pg5u3pqr56n1idd0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078483904653-2114cg207hpv449pg5u3pqr56n1idd0f</string>
	<key>API_KEY</key>
	<string>AIzaSyDA_KsxN3RqzVL7kKI8Sc8wEkjLHF_Wg4U</string>
	<key>GCM_SENDER_ID</key>
	<string>1078483904653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davoito.MySubscriptions</string>
	<key>PROJECT_ID</key>
	<string>mysubscriptions-4b3ce</string>
	<key>STORAGE_BUCKET</key>
	<string>mysubscriptions-4b3ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078483904653:ios:ff07c2352997165e905ac4</string>
	<key>DATABASE_URL</key>
	<string>https://mysubscriptions-4b3ce.firebaseio.com</string>
</dict>
</plist>